[2018-07-20 00:18] matteocrippa opened #1 "test on genuine android device"
I have no Android device capable to read NFC so I wasn't able to debug and check my "blind" implementation, it would be great to test that a little on real device and debug if needed

[2018-07-23 09:31] deetu commented on #1
Sure @matteocrippa, added but its as if its silently failing.

[2018-07-23 09:57] matteocrippa commented on #1
@deetu nothing was prompt to ask you for permission when opening the app, isn't it? I mean no alert with request for permission?

[2018-07-23 10:02] deetu commented on #1
@matteocrippa Yea, I wasn't prompted, I think the above lines in the manifest already took care of that. Also, like I said the version and stop functions returned results and when I turned off the NFC, I got a result about the unavailability of NFC functionality, so I guess all should be fine except for the actual reading.

[2018-07-23 11:54] matteocrippa commented on #1
@deetu can you try adding these lines in you AndroidManifest in your demo app?

[code]

[2018-07-23 12:00] deetu commented on #1
@matteocrippa I tried that earlier using 'text' as the mineType. With the last suggestion, I'm stilling getting the same thing.
'W/permissions(12182): [Ljava.lang.String;@95b2d5e' Thats what i get.

[2018-07-23 12:36] vinicentus commented on #1
I don't think one should get a permission popup for nfc? Other nfc apps that I have used doesn't do that, apparently android handles it as a minor permission.

[2018-07-23 12:46] deetu commented on #1
@matteocrippa You are right about that, NFC is grouped under PROTECTION_NORMAL. I will keep checking and if you are able to fix it soon too, do let me know.

[2018-07-23 12:50] vinicentus opened #3 "NFC Status shows true when nfc is off"
When startNFC runs, and if all before the setstate fails, the _nfcActive will still be set to true, even though that doesn't mean nfc is present and active.
https://github.com/matteocrippa/flutter-nfc-reader/blob/master/example/lib/main.dart#L46-L62

[2018-07-23 12:53] matteocrippa commented on #3
you are right I will clean up that too, I want to prioritise the Android stuff first and later clean this up for both the two archs

[2018-07-23 12:54] matteocrippa commented on #1
I'm cleaning right now all the stuff and updating to latest libs and Kotlin version, so the project is more clean inside.

Then I think the issue is connected to something else, I need to move the logic in

[code]

I just need to figure out what flutter library I need to add to be able to override that in the code.

[2018-07-23 13:15] vinicentus commented on #1
Error when building:
`\flutter-nfc-reader\android\src\main\kotlin\com\example\flutternfcreader\FlutterNfcReaderPlugin.kt: (16, 1): Class 'FlutterNfcReaderPlugin' is not abstract and does not implement abstract member public abstract fun onActivityResult(p0: Int, p1: Int, p2: Intent!): Boolean defined in io.flutter.plugin.common.PluginRegistry.ActivityResultListener`

[2018-07-23 13:39] deetu commented on #1
@matteocrippa Will give it a short and update you

[2018-07-23 13:54] deetu commented on #1
@matteocrippa Tried that, it's not showing any error, but from the look of things the 'read' method isn't really been called, so it returns nothing, i.e Like I never called the function. The other two functions were tested and they returned results.

[2018-07-23 15:46] matteocrippa commented on #3
@vinicentus updated the example in the meanwhile, it should be more clear.
Also I noticed I made a mistake before, now fixed in latest version.

[code]

[2018-07-24 07:58] #3 closed

[2018-07-24 08:07] vinicentus commented on #1
When detecting `ACTION_TECH_DISCOVERED`, shouldn't there be an intent filter in the example AndroidManifest.xml? Also, shouldn't there be a list of supported technologies then is a xml file? https://developer.android.com/guide/topics/connectivity/nfc/nfc#tech-disc
https://github.com/matteocrippa/flutter-nfc-reader/blob/afe4b1bfc140dcc57b462cec8ef4e6aee3406b23/android/src/main/kotlin/com/example/fl

[2018-07-24 09:14] matteocrippa commented on #1
`ACTION_TECH_DISCOVERED` is a kinda fallback for not _NDEF_ formatted, prob is better atm to stay focus only on NDEF, have that working fine and then expand it

[2018-07-30 13:47] nyrf commented on #1
Not work on my android phone,  `FlutterNfcReader.read;` seems return null.

[2018-07-30 18:30] matteocrippa commented on #1
I pushed a new test if @nyrf or @deetu what to try it, it would be awesome

[2018-07-30 18:43] deetu commented on #1
Hey @matteocrippa, will give it a try tonight and update you. Thanks

[2018-07-31 03:18] nyrf commented on #1
@matteocrippa Thanks, but it still not work for me, i tried to use react native with
https://github.com/whitedogg13/react-native-nfc-manager and it works.

[2018-07-31 08:34] matteocrippa commented on #1
I need to get back an Android phone, debugging without it is kinda complicated.

I tried pushing a patch and updating the instruction to use that, I would ask if you can test using directly the example and see what happens with debugger on

[2018-07-31 09:38] nyrf commented on #1
I've tested and it show nothing. i used vsc to code.

[code]

[2018-07-31 09:40] matteocrippa commented on #1
Mhh prob is better to use Android Studio opening directly the android example there, using vsc and using flutter will not allow to get all the information.

My only concern is that the `activity` is not get in proper way

[2018-07-31 11:04] nyrf commented on #1
The log

[code]

[code]

[2018-07-31 12:01] matteocrippa commented on #1
seems like it receives something early than expected and turn off the NFC pooling in the intent

[2018-08-01 15:32] deetu commented on #1
@matteocrippa Been doing some research, i think the issue is with this line
    private val nfcAdapter: NfcAdapter? by lazy { NfcAdapter.getDefaultAdapter(activity) }

It returns an error, this probably will be because it's been called before the functionality is ready. Im new to Kotlin, but will read about how to create something similar to 'oncreate' in android.

[2018-08-01 18:40] matteocrippa commented on #1
@deetu can you copy/paste the error?
I pushed an updated moving the setup in a listener of onCreate, if you want to test it

[2018-08-01 22:55] deetu commented on #1
@matteocrippa Testing out the last commit seems to be working. I will test it rigorously and update you soon.

[2018-08-02 01:07] nyrf commented on #1
I got the same message: `NFC Hardware not found.`

[2018-08-02 08:45] matteocrippa commented on #1
ok there's something that is not clear, so the listeners I was expecting to work doesn't.
So it seems it doesn't fire up the NFC reader and it turns to be `null`.

I tried a different approach, and applied a patch too for simulator only (to avoid crash) due to there's no NFC support on that.

[2018-08-02 14:27] nyrf commented on #1
Seems to return null again.

[2018-08-02 14:29] matteocrippa commented on #1
@nyrf  But it raises the `NFC Hardware not found.` message? or not?

[2018-08-02 15:53] nyrf commented on #1
@matteocrippa No, show nothing.

[2018-08-02 16:35] matteocrippa commented on #1
this turn to be strange, because if it doesn't show that, it means it is not able to get the NFC instance from Android OS.
I can try changing from `context` to `activecontext` provided by flutter, but dunno if it makes sense or fix

[2018-08-03 01:01] nyrf commented on #1
I have updated to use the master branch, but it still show nothing. seems `FlutterNfcReader.read` return null.
<img width="421" alt="1212121212" src="https://user-images.githubusercontent.com/299532/43618587-c066480a-96fb-11e8-82ac-cc726363b1a7.png">

[2018-08-03 07:52] matteocrippa commented on #1
@nyrf mhh but till now what do you used so far? In order to avoid to issue releases I always pushed to master only, so there's the risk I updated something and you were testing somewhere else? :)

In order to test git clone the master repo, open `example` project of android with android studio and run that only, don't use flutter directly.

I'm trying to figure out how does it return null, in Kotl

[2018-08-03 12:02] deetu commented on #1
I have tested the app and using the master branch and attached herewith is the screenshot
![screenshot_20180803-125609](https://user-images.githubusercontent.com/1490510/43641952-73ecfad8-971d-11e8-9b6f-2ae73b7141fe.jpg)

[2018-08-03 14:43] matteocrippa commented on #1
NFC will be my biggest mystery on Android :(
Btw I tried to write from scratch the plugin using a different approach, cross your finger meanwhile testing

[2018-08-09 01:03] nyrf commented on #1
Any updated?

[2018-08-09 06:50] matteocrippa commented on #1
I've released 6 days ago.a new version on `master`, but not received any feedback yet

[2018-08-09 12:12] deetu commented on #1
@matteocrippa I have tried the new code. In the 'startNFC' function the return type isn't a string but a Uint8ArrayView, which needs to be converted to a String, this causes an error in the flutter_nfc_reader.dart file as the Future return type is expected to be a string. Once this is resolved, I think the only other issue will be with the stopNFC function, doesn't seem to stop it, but that can be

[2018-08-09 12:17] matteocrippa commented on #1
I will look into that but not earlier than a couple of weeks, if anyone wants to help any PR is welcome

[2018-08-09 14:55] nyrf commented on #1
I've tried and still return null.

[2018-08-09 20:50] matteocrippa commented on #1
@nyrf seems weird, because @deetu have a different return object, are you sure that you are testing the latest master commit?

[2018-08-10 02:44] deetu commented on #1
`
import android.os.Bundle;
import android.app.PendingIntent;
import android.nfc.NdefMessage;
import android.nfc.NfcAdapter;
import android.nfc.Tag;
import android.nfc.tech.Ndef;
import android.os.Parcelable;
import android.content.Intent;
import android.util.Log;
import android.content.IntentFilter;

import io.flutter.app.FlutterActivity;
import io.flutter.plugins.GeneratedPluginRegistrant;
impor

[2018-08-10 03:47] nyrf commented on #1
@matteocrippa Yes, i used the master branch and debug with vscode, return null.
<img width="540" alt="121212121212" src="https://user-images.githubusercontent.com/299532/43937891-1d0dc6e0-9c93-11e8-8366-21cc77e0cb8a.png">

[2018-08-10 12:32] matteocrippa commented on #1
@nyrf VSCode at this stage is not the optimal way to proceed, Android Studio running only the example helps more because you have full logs from device

@deetu I will look into that, I edited you comment to fix the code visualisation it was broken

[2018-08-10 12:44] deetu commented on #1
@matteocrippa Thanks, I was almost sleeping off when I posted it. Yeah, have a look and see how you can edit your plugin, I think you most likely will just need the buildText functionality in yours like I said earlier.  I have also taken out unused imports, which were added while I was testing.

[2018-08-10 12:58] matteocrippa commented on #1
I quickly look into that, but you are using a different approach, the one I used for most of the time without any success, now I switched to a new one that use readTag, prob I got rid of the byte array stuff, if I have 10 mins later I will check and push a fix

[2018-09-24 05:32] vubon opened #4 "The plugin does not support Flutter SDK version 0.6.0"
Hi Matteo,
Can you make your plugin latest version support of Flutter , please ?

[2018-10-05 15:02] matteocrippa commented on #4
@vubon sorry for late reply, it should be fine now

[2018-10-05 15:02] #4 closed

[2018-10-06 16:37] vubon commented on #4
Thank You Matteo :+1:

[2018-11-02 11:25] fvisticot opened #5 "Not on flutter official package repository"
Can you please add this package on flutter official repository

[2018-11-02 11:33] matteocrippa commented on #5
here you are: https://pub.dartlang.org/packages/flutter_nfc_reader

[2018-11-02 11:33] #5 closed

[2018-11-02 12:57] fvisticot opened #6 "Atm only Swift ? what is required to do in configuration ?"
What is required on XCode project side to allow 'Atm only Swift' ?

Without any special configuration I have the following error:
[code]

[2018-11-02 13:01] matteocrippa commented on #6
The project needs to be created on flutter with swift flag to work

[2018-11-02 13:07] fvisticot commented on #6
Can you please provide the way  to update the Android Studio Flutter projet to set this "swift flag" ?

[2018-11-02 13:11] matteocrippa commented on #6
You can't update, you have to create the app from scratch  in this way

[code]

[2018-11-02 13:15] fvisticot commented on #6
Why did you add this constraint ? Is it because the plugin is coded in SWIFT ?
If i fork the projet and do my objc implementation it will work ?

[2018-11-02 13:19] matteocrippa commented on #6
For my purposes swift was enough, no need to keep compatibility over objc, so neither never dig why it's not working. Either if it was supposed to.
Dunno if a fork will do the job, btw you can even create a swift project and use objc inside...

[2018-11-02 13:39] fvisticot opened #7 "Error when reading an NFC tag (on iOS)"
When trying to read the tag I get this error:

[code]

[2018-11-02 13:40] #6 closed

[2018-11-02 13:50] matteocrippa commented on #7
Give a try to latest version `0.0.21`.

[2018-11-02 14:04] fvisticot commented on #7
Works fine fine this 0.0.21. you can close the issue. Tx !

[2018-11-02 14:05] #7 closed

[2018-11-02 14:09] fvisticot opened #8 "instruction parameter on read method not available on iOS"
from the doc: only for iOS, called instruction

I have tried:

[code]

[2018-11-04 16:35] gomiunik commented on #1
Hi.
I've tested it directly by adding package to pubspec.yaml. I needed to remove the app from the device and after reinstalling it (with another debug session) the NFC reader works.

Is there any way to change the default system sound?

Tested it on Android Kitkat

[2018-11-04 17:08] matteocrippa commented on #1
@gomiunik seems not https://stackoverflow.com/questions/8743588/prevent-alert-tone-when-scanning-identifying-an-nfc-intent

[2018-11-05 18:39] gomiunik commented on #1
@matteocrippa Have you already tried to set the FLAG_READER_NO_PLATFORM_SOUNDS
(https://stackoverflow.com/a/21308366/107076) ?
I'm still a noob on this, but your plugin is a great help

[2018-12-07 12:00] AcidNoX opened #9 "Android - Response is the Tag Id/SerialNumber rather than the content"
Testing this on a Android device and the response appears to be the Tag Serial Number / Id rather than the content:

![image](https://user-images.githubusercontent.com/8410021/49646516-2d89d680-fa17-11e8-895d-8c78c81fea1f.png)
![screenshot_20181207-115726](https://user-images.githubusercontent.com/8410021/49646624-7f326100-fa17-11e8-96f0-63f202d93b27.jpg)
![screenshot_20181207-115732](https://user

[2018-12-08 11:36] #1 closed

[2018-12-08 14:35] matteocrippa commented on #9
I made a patch, but had no way to test that, try using the master version and see if it works

[2018-12-09 21:04] RandyStevens opened #10 "startNfc() doesn't begin reading NFC."
Test Device: SamsungS7Edge

Flutter: Flutter 1.0.1-pre.3

<img width="619" alt="screen shot 2018-12-09 at 12 58 23 pm" src="https://user-images.githubusercontent.com/25543498/49702873-a5d8cf00-fbb2-11e8-9ade-167d40af42bd.png">

Attached below is screenshot of device. I switched RaisedButton for FlatButton hoping it was an error with RaisedButton
![flutter_02](https://user-images.githubusercontent.

[2018-12-09 21:08] matteocrippa commented on #10
Need further detail to investigate, also because I have no android device to test.

- Did you follow the android setup ( https://github.com/matteocrippa/flutter-nfc-reader#android-setup )?
- Which version of the lib are you using?

[2018-12-09 21:16] RandyStevens commented on #10
The most recent version of the lib. I Just cloned the repo, then from example I built, then:
`pub install && flutter run`

From what I can see the example app has the "android setup" already done, so I haven't messed with AndroidManifest.xml

What other details are relevant and can help? Thanks for the fast response.

[2018-12-09 21:18] matteocrippa commented on #10
Which kinda of NFC are you using? NDEF one?
btw, give a try to this instead of `master` https://github.com/matteocrippa/flutter-nfc-reader/releases/tag/0.0.21

[2018-12-09 21:37] RandyStevens commented on #10
Gave the tagged release you linked a try. Exact same results.

Yes. I am using NDEF
[code]

[2018-12-09 21:40] matteocrippa commented on #10
The tagged one was working for other dev, but returning only the id of the NFC tag, so there's something more that need to be debugged, dunno if Samsung device has any extra requirements/grant to allow NFC reading.
But debugging that for me is a bit complicated right now

[2018-12-09 21:41] RandyStevens commented on #10
Ill try to do what i can :)

[2018-12-10 06:13] abhisheklal04 commented on #9
The latest master code doesn't works.

[2018-12-14 11:45] prullmann opened #11 "NDEF URL cut off on iOS"
When reading tags on iOS with flutter-nfc-reader, I noticed that often the URLs get cut off and only the last part is returned to my code.
Example: FlutterNfcReader.read returns "itter.com/caseyneistat/status/1073422967718187010" instead of "https://twitter.com/caseyneistat/status/1073422967718187010"

It does not seem consistent when and how much is cut off and I found indications it is different

[2018-12-14 15:11] prullmann commented on #11
The first 3 bytes of the NDEF payload is cut off by the current implementation. I found [example code](https://www.appcoda.com/corenfc-introduction/) doing the same to cut off a leading language code.

But it looks to me that (since iOS 12?) this language code is not there anymore, so removing the first three bytes will just cripple the actual content/URL.

I don't know what is the best way to det

[2018-12-16 21:49] CosimoSguanci commented on #9
I'm also facing this issue. It returns the serial number of the NFC Tag

[2018-12-16 22:17] matteocrippa commented on #9
Give a try to latest in master after merge if a pr

[2018-12-16 22:37] CosimoSguanci commented on #9
How can I use that? Now i've ^0.0.21 in my pubspec.yaml file.

[2018-12-17 04:17] matteocrippa commented on #9
about to push`0.0.22` hope to do later this morning

[2018-12-17 04:42] matteocrippa commented on #10
Refer to #9 it should be fixed

[2018-12-17 04:42] #10 closed

[2018-12-17 04:45] matteocrippa commented on #11
I look into that, need to think if it’s in scope or not to decode too or read only the content and forward as it is

[2018-12-17 10:16] CosimoSguanci commented on #9
I tried the latest version. Now, if the text written in the tag is 'flutter!!!' I get
`�Tenflutter!!!!` by reading it.

[2018-12-17 23:28] fvisticot opened #13 "Do not stop scanning session after first scan result"
Do you plan to add this feature available on iOS side ?
In my use case i need a 'session scanning' without stoping scan after first result.

[2018-12-18 08:44] matteocrippa commented on #13
We need to think how to implement this on both the two system, as far as I remember is possible, but how to manage results? An array like with on top always the last one?

[2018-12-19 21:59] rotoxl commented on #5
shouldn't the install instructions be in the very first readme.md? The example relies on relative paths, kotlin files, etc, it's not easy to setup... while setting everything up with this package repo is instantaneous

[2018-12-19 22:06] matteocrippa opened #14 "Review documentation structure"
_Originally posted by @rotoxl in https://github.com/matteocrippa/flutter-nfc-reader/issues/5#issuecomment-448758845_

[2018-12-19 22:07] matteocrippa commented on #14
@rotoxl feel free to elaborate more or share further details

[2018-12-30 10:09] kgamecarter commented on #9
I need the ID.
Can response a object with content and ID?

[2018-12-30 11:41] matteocrippa commented on #14
improved under `feature/refactor`

[2018-12-30 11:41] #14 closed

[2019-01-01 21:45] fvisticot commented on #13
Managing the session with a "Stream output" ?

[2019-01-01 21:46] fvisticot commented on #8
any news on this bug. Would like to use the plugin in production and I need the fix

[2019-01-01 22:18] matteocrippa commented on #13
As for now not, it’s out of scope of first polishing the whole experience, and later add extra feature

[2019-01-01 22:19] matteocrippa commented on #8
Nope, as in the other issue, i’m prioritizing other stuff. Feel free to make a Pr for that feature

[2019-01-03 15:20] RafeAldridge opened #15 "Cannot get example working"
I can get the example to run on my android phone, but pressing Start NFC does nothing- Screen says: "Running on: Android 7.0" "NFC is Reading: false" "NFC Data: "

I used a native app to confirm that the NFC tags I have are readable on this device.

Any thoughts?

Rafe

[code]

[2019-01-03 15:24] matteocrippa commented on #15
branch `master`?

If so there's something strange with android.
Btw as far as I can see if it says that reading is always `false` somehow is not triggering the reading loop

[2019-01-03 15:34] RafeAldridge commented on #15
Thanks for the quick reply.

Sorry, I forgot to say; yes, branch master. Though I've also tried refactor and that doesn't work either - that also has NFC is Reading: False, always.

Any thoughts as to what I can try?

[2019-01-03 15:44] matteocrippa commented on #15
Hard to say, I can’t neither debug. I’m an iOS dev usually 😅

[2019-01-03 15:48] RafeAldridge commented on #15
No worries. I'm only playing around so it's not overly important.

We'll both have to wait until a more experienced Android/Flutter person comes along ;)

Appreciate your help.

[2019-01-03 16:00] DanielFreiburger opened #16 "Cannot get serial number"
At the moment it's only possible to read the data of the tag.
But what I need is the serial number.

[2019-01-04 04:28] huzhiren opened #17 "Type error in FlutterNfcReader.read on iPhone 6 (or non NFC supported phone)"
flutter: type 'bool' is not a subtype of type 'String'
flutter: #0      FlutterNfcReader.read (package:flutter_nfc_reader/flutter_nfc_reader.dart:14:18)
<asynchronous suspension>

[2019-01-04 07:32] matteocrippa commented on #17
Which branch are you using?
I have no idea of what to check with these poor information, sorry.

I will also create a template for issue

[2019-01-04 07:52] matteocrippa commented on #11
@prullmann did you have time to test the branch I prepared for you?

[2019-01-04 07:53] matteocrippa commented on #9
@CosimoSguanci @kgamecarter give a try to this branch feature/refactor

[2019-01-04 07:55] matteocrippa commented on #15
@RafeAldridge which flutter version are you using?
Can I ask you to try installing using dart package, the last stable should be 0.22 or something as far as I remember and it was working for other devs

[2019-01-04 15:58] RafeAldridge commented on #15
@matteocrippa Flutter 1.0.0

Have tried using the dart package rather than a local copy. Have also tried two different Android devices (Android 6.0.1 and Android 7.0).

Both are exactly the same - nothing happens when I press the "Start NFC" button

[2019-01-04 16:07] matteocrippa commented on #15
Just double check if permission are granted, because as you can see just a couple of issue down it works for other ppl

[2019-01-04 17:38] matteocrippa commented on #15
I advise you to try using the app with Android Studio and debug and see what's happening.

At the very end the code for flutter, once you tap the button will always turn read on and off if it recognise the tag or fails

[code]

[2019-01-04 17:40] matteocrippa commented on #16
@DanielFreiburger give a try to `feature/refactor` branch

[2019-01-05 05:16] kgamecarter commented on #9
There is no responses when I read Mifare Classic card.
I only need Mifare Classic card ID.

[2019-01-05 10:38] matteocrippa commented on #9
Try using debug to see if the callback has been triggered, so we can figure out how to proceed or if the callback is the bottleneck.

I have no mifare tag so no way to test by myself

[2019-01-06 14:40] Lidgett commented on #15
I have the exact same issues as @RafeAldridge.

NFC reading is always false, nothing happens.  I have tried on Android 7.0 and 8.0, physical devices of course.

I haven't tried the iOS version yet, I'm hoping to test it soon as it's an important part of my app development.  Would I have to have the Flutter package supporting Swift or will Objective C work too with the plugin?

[2019-01-06 16:10] matteocrippa commented on #17
@huzhiren give a try to new branch `feature/refactor`

[2019-01-06 16:10] matteocrippa commented on #15
@Lidgett
Swift is better, and Android should work on Kotlin, at least plugins are built in that languages.

The behaviour you are both facing is pretty strange, I do suggest debug the Android app and see what's triggered by the plugin and what not.

As you can see on #9 it works

@RafeAldridge @Lidgett
Btw I have just release a new fix under `feature/refactor`, give a try to that.

[2019-01-06 19:46] prullmann commented on #11
@matteocrippa excuse my late reply.
Yes, I tested and it works for me. As I said, I don't know however what happens on iOS11, where there are apparently three extra bytes of language code sent at the start of the payload.
I made my code resilient to this by looking for the hostname I am interested in and not caring for anything before that, but it may perhaps cause troubles for others.

[2019-01-06 20:21] Lidgett commented on #15
Thanks for the prompt reply.  I've tried the "feature/refactor" release.  Same issue.  The code never goes beyond the invokeMethod("NfcRead") method.  So presumably there's something happening from within the Android code.
I'll try to debug it at some point.

[2019-01-06 20:30] matteocrippa commented on #15
@Lidgett which version of Android is running on the device you are using? < Kitkat?

[2019-01-06 20:44] Lidgett commented on #15
Currently 8.0

[2019-01-06 21:35] matteocrippa commented on #15
Seems more a permission issue, I tried adding something, but dunno if makes any progress

[2019-01-07 10:21] RafeAldridge commented on #15
@matteocrippa really appreciate the help, but still no joy on Android 7.0 or 6.01. Both devices show the attached but neither reads a tag.

Apologies, but I'm totally new to flutter and Android development. Am just playing around with a proof of concept. So my debugging skills in this area aren't much use.

![screenshot_20170203-101828](https://user-images.githubusercontent.com/32955064/50762791-e

[2019-01-07 10:23] RafeAldridge commented on #15
If it helps, this is the results from NFC Tools app re the tag I'm using.

![screenshot_20170203-103316](https://user-images.githubusercontent.com/32955064/50762947-55629900-1266-11e9-9407-89655fb57382.png)

[2019-01-07 20:50] huzhiren commented on #17
Sorry, I was very busy over the last few days.
I used version flutter_nfc_reader: ^0.0.21 before.
But as I today used flutter_nfc_reader: ^0.0.22, the exact same error occurred.

[2019-01-07 21:00] matteocrippa commented on #17
Nope, you have to use the `feature/refactor` branch, not public one, otherwise you always get the same error, you need to pass the git repo instead of the version

[2019-01-08 10:36] DanielFreiburger commented on #16
@matteocrippa tried the `feature/refactor` branch but get the error
`type '_Uint8ArrayView' is not a subtype of type 'String'`
in flutter_nfc_reader.dart:30

[2019-01-08 10:44] matteocrippa commented on #16
@DanielFreiburger did you test on iOS or Android? or pop-ups at compile time?

[2019-01-08 10:46] DanielFreiburger commented on #16
@matteocrippa I tested it on a connected android device

[2019-01-08 13:50] matteocrippa commented on #16
@DanielFreiburger prob is due to `null`, btw managed to move to empty string, let me know if it works.

[2019-01-08 17:11] Schillen commented on #15
i have the same issue on virutal ios and real android 9. if i check the permission of the app there is nothing set. it vibrates on contatct with an nfc chip, but does not update the state / widget screen does not change.

[2019-01-08 17:31] Schillen commented on #15
yes, simulator.

i set the needed permission in the android manifest. should i check something else as well?

was working with master, gonna test the refactor branch next and let you know

[2019-01-08 17:34] matteocrippa commented on #15
Simular for iOS should not work, at the end it has not NFC reader so it will always get stuck there.

For Android, better the refactor branch, I've added there a new approach and a way to ask permission for Android >= 6.0

[2019-01-08 17:48] Schillen commented on #15
in the refactor branch(https://github.com/matteocrippa/flutter-nfc-reader/tree/feature/refactor) the plugin version is flutter_nfc_reader: ^0.0.23

which throws this error
/Users/schillen/development/flutter/bin/flutter --no-color packages get
Running "flutter packages get" in flutter_app_nfc_refactor...
Because flutter_app_nfc_refactor depends on flutter_nfc_reader ^0.0.23 which doesn't match any

[2019-01-08 17:52] matteocrippa commented on #15
you have to link to that as GitHub repo and not using version, it's not worth to release 0.0.23 till is stable.

[code]

[2019-01-09 10:21] Schillen commented on #15
"flutter packages get" throws the following error

Running "flutter packages get" in flutter_app_nfc
Could not find a file named "feature/refactor/pubspec.yaml" in git://github.com/matteocrippa/flutter-nfc-reader.git f3ca502b1995f3629b6c9b995227e5a1d6b12cdc.

pub get failed (1)

[2019-01-09 10:32] DanielFreiburger commented on #16
@matteocrippa I still get this error because `id `of `NfcData `is defined as `String `but `nfcId `in the `Map `returned by `_channel.invokeMethod('NfcRead')` is of type` _Uint8ArrayView`

[2019-01-09 10:45] DanielFreiburger opened #18 "MIFARE Classic serial number"
Will it be possible to get serial number of a MIFARE Classic tag as well?

[2019-01-09 10:56] matteocrippa commented on #18
No experience with that, if we found someone able to support why not.
Btw is that different from #16 ?

[2019-01-09 11:00] DanielFreiburger commented on #18
If I find something helpful, I'll pass it on to you.
Yes, it is different from #16 because the invokeMethod is not even called in this case.

[2019-01-09 11:03] matteocrippa commented on #16
@DanielFreiburger it should be fixed now, sadly not having an android device makes me struggle a little and Android studio is not getting the proper linting

[2019-01-09 11:09] matteocrippa commented on #15
@Schillen I fixed above, it should work now

[2019-01-09 11:13] #17 closed

[2019-01-09 11:13] #11 closed

[2019-01-09 11:55] RafeAldridge commented on #15
Hi,

Apologies, I was away from my desk the last couple of days so unable to test.

Have now tried with the latest in feature/refactor and get an error (below). I've tried with ../ and

flutter_nfc_reader:
    git:
      url: git://github.com/matteocrippa/flutter-nfc-reader.git
      ref: feature/refactor

in my pubspec.yaml

Running "flutter packages get" in example...                     0.5s
La

[2019-01-09 12:02] RafeAldridge commented on #15
We need to get you an Android phone! I'd consider sponsoring this if you're interested?

[2019-01-09 12:10] matteocrippa commented on #15
For device I have, but at home, not where I'm currently. Have just to get that next time.

I pushed a little tweak, it should fix the optional value now

[2019-01-09 14:16] Schillen commented on #9
using refactor branch: after reading an nfc tag type "nxp mifare classic" the app displays

Status: NFCStatus.none
Identifier : questionmark-icon + random letters
Content:
Error:

[2019-01-09 15:13] DanielFreiburger commented on #16
Works fine now
Thanks

[2019-01-09 15:13] #16 closed

[2019-01-09 20:17] matteocrippa commented on #15
@RafeAldridge try now please

[2019-01-10 09:54] Schillen commented on #18
since MIFARE is not working for now, is it possible to update the readme with the readable types?

what do you think about this article about integrating nfc on android? https://medium.com/@ssaurel/create-a-nfc-reader-application-for-android-74cf24f38a6f

[2019-01-10 10:08] RafeAldridge commented on #15
Absolutely perfect @matteocrippa

Can read the ID of a Mifare NFC tag and it matches the ID I get in other applications.

Really appreciate your efforts on this and hope I've been some help as a tester ;)

[2019-01-10 11:06] matteocrippa commented on #18
@Schillen but according to #15 we can read the id of MIFARE, isn't it?

[2019-01-10 12:14] Schillen commented on #18
@matteocrippa #15 is executable, but i am not getting useful data. i only receive the "diamond question mark icon" as Identifier and Status none.

[2019-01-11 14:39] lewixlabs commented on #18
Mmmm, if you're talking about Mifare cards, maybe you need to make Android working in "card reader" mode, not NFC, to receive ATR from card contactless and if you need to send further apdus.
https://github.com/googlesamples/android-CardReader

Matteo, I work with smartcards, i wanted to make a flutter plugin to work in cardreader mode, but finding your existing project, maybe best solution is inte

[2019-01-11 14:42] matteocrippa commented on #18
@lewixlabs any PR is always welcome 👍

[2019-01-11 16:41] Schillen commented on #18
reading ID / serial-number for Mifare is working for me as well.

[2019-01-12 15:44] gavinerasmus commented on #9
I receive the NFC ID on a Samsung Galaxy S6 when using version 0.21. I created a new project, copied across the code and used v0.22 and got no response from the reader. I'm going to do some investigating and see what I can figure our and will let you know. v0.21 is great - thanks for creating it!

[2019-01-16 08:29] DanielFreiburger opened #19 "Multiple error types for "No NFC device" and "NFC not enabled""
At the moment there is only one single error type.
But the reason for the error is unclear.
It would be better to know if the device don't have a NFC reader, the reader is not enabled or some other unexpected error occured.

[2019-01-16 10:17] MaxiSonntag opened #20 "Android: Receiving ID & Status but no content"
Hey there,

I'm currently testing this plugin on Android devices (Android 7.0 & Android 8.0) and I'm using the [NDEF Tag Emulator](https://play.google.com/store/apps/details?id=com.maxsoft.ndeftagemulator&hl=de) as an NFC Tag, as well as a bank card for testing purposes.

By using the `feature/refacor` branch I was able to get the plugin working. I'm successfully receiving `id` and `status` in the

[2019-01-18 06:04] chunhunghan commented on #15
Have the same issue in branch master and refactor version work for me.
@matteocrippa , thank you for your amazing work.

[2019-01-20 14:51] ruan65 commented on #15
Can not get it run on iPhone 7.

I am getting pod install error that I do not know how to fix:

Analyzing dependencies
Fetching podspec for `Flutter` from `.symlinks/flutter/ios`
Fetching podspec for `flutter_nfc_reader` from `.symlinks/plugins/flutter_nfc_reader/ios`
[!] Failed to load 'flutter_nfc_reader' podspec:
[!] Invalid `flutter_nfc_reader.podspec` file: undefined method `swift_version=' f

[2019-01-24 08:19] huzhiren opened #21 "Add method to tell if NFC hardware is available or not"
It would be fantastic if you can add a third method via the channel to determine if the running device support NFC.

For Android, here is the [API](https://developer.android.com/reference/android/content/pm/PackageManager):
`getPackageManager().hasSystemFeature(PackageManager.FEATURE_NFC) `

[2019-01-24 08:19] huzhiren commented on #21
Related to issue #19

[2019-02-03 13:35] AlexBolot opened #22 "Minor Typo in Android Activity"
Hi, I have been using your plugin for a couple of days, and log message was printed saying

I know why it was called, it's a bug in my app, but I noticed the typo, and I think it might come from your plugin 😄

[2019-02-03 15:08] matteocrippa commented on #22
hey @AlexBolot  I give a look, but seems a typo in Android SDK

[code]

if you search on google for that or GitHub it appears quite often

[2019-02-04 16:50] fvisticot opened #24 "Tag content is not always returned with last version 0.0.23"
on iOS, with the last version the content is not always returned (sometimes yes, sometimes the content is empty).

It was working fine with previous version.

Not sure it is linked but I have the error in the console:
[code]

[2019-02-04 17:09] matteocrippa commented on #24
Bit hard to debug with data few data, seems more like the NFC session has been instantiated more than a time and then fails, is it possible somehow?

[2019-02-07 10:03] CosimoSguanci opened #25 "Getting an empty ID on iOS"
Hi, I get an empty ID while reading NFC on iOS, in Android I receive the right ID.

[2019-02-07 10:09] #22 closed

[2019-02-07 10:11] matteocrippa commented on #20
@MaxiSonntag did you test with latest stable version on master?

[2019-02-07 10:12] matteocrippa commented on #21
I will close this, let's stay on #19

[2019-02-07 10:12] #21 closed

[2019-02-07 10:12] #15 closed

[2019-02-07 10:13] matteocrippa commented on #9
up is now the `master` working fine?

[2019-02-07 10:13] matteocrippa commented on #25
Which kinda NFC tag are you using?

[2019-02-07 10:21] CosimoSguanci commented on #25
NXP MIFARE Ultralight - NTAG213

[2019-02-07 10:23] CosimoSguanci commented on #9
For me yes, it works except from the empty ID that i get on iOS (i opened another issue)

[2019-02-07 10:45] matteocrippa commented on #25
I think the top would be to debug using swift code and making a breakpoint to see if in the payload NFC core provides there's this value and so later work on mapping, can you do that test?

[2019-02-07 10:49] CosimoSguanci commented on #25
Searching on the internet I found that CoreNFC doesn't provide that info yet...so I guess this is the problem.

[2019-02-08 23:18] crzdg commented on #9
Hi there,

I'm using the package since today. I was able to set up a reader in my scoped_model based app. I'm also get the my cards content. However, the information in the bytes before the payload is broken. My message should be:

urn:nfc:ext:app.io:IDid12345

The string I get is somehow broken and only show the payload properly. It would have been easy for me to split the string and extract the

[2019-02-08 23:36] crzdg commented on #9
String is somehow false encode. Would be nice if it would encode after NDEF Format. Good resources are found here.

https://nfcpy.readthedocs.io/en/latest/topics/ndef.html
https://nfcpy.readthedocs.io/en/latest/overview.html

[2019-02-09 10:25] matteocrippa commented on #9
@crzdg create a new dedicated issue, if you can provide also some debug info (eg. expected result, result obtained it could help more.

I will close this because it seems to work now for id/serial, if issue is still open, re-open the task

[2019-02-09 10:25] #9 closed

[2019-02-12 22:27] rotoxl commented on #20
Hello,

same problem here, I'm getting an empty value from the new NfcData object. Version 0.0.21 does the work

[2019-02-12 22:30] matteocrippa commented on #20
I think we need to debug, I have no android device here so, if any want help and use debugger to step debug that it would be great

[2019-02-12 22:39] rotoxl commented on #20
My testing has been done on iOS, I don't really know if the undesired behaviour can also be reproduced on Android.
Thanks for the quick response

[2019-02-12 22:40] matteocrippa commented on #20
Ok so better open a separate proper issue or we make a mess.

[2019-02-13 22:32] CosimoSguanci commented on #24
I'm experiencing this issue too.

[2019-02-14 06:38] fvisticot commented on #24
I have forked this repo to add support for description and nfc sessions for iOS and android.
Not perfect yet but it seems to work and the issue you refer is closed as well.
Take a look on this fork and feel free to improve it (not production ready yet):
fvisticot / flutter-nfc-reader

[2019-02-14 07:25] matteocrippa commented on #24
Feel free to make a PR

[2019-02-15 08:38] Mapk26 commented on #20
Hello,

i'm testing on android device, 8.0, plugin version 0.0.23.

I receive the content but in a format with prefix "Ten" followed by the content (plain text), where Ten = T + en(english).
It seems the NDEF message is converted to string and not looking for the payload only.

Status and ID are correctly received.

[2019-02-22 02:20] marianoarga opened #26 "Exception when repeat read"
I got the following exception when already read a Tag and tried to do it again:

[2019-02-23 17:08] matteocrippa commented on #26
@marianoarga you can try with new master branch version thx to @xPutnikx PR

[2019-02-23 17:09] matteocrippa commented on #8
@vinicentus you can try with new master version thx to @xPutnikx PR

[2019-02-25 03:23] marianoarga commented on #26
@matteocrippa Will try, thanks

[2019-03-07 12:19] aHalyk opened #29 "Exception thrown when reading multiple tags, or one tag repetitively"
E/JavaBinder(15083): *** Uncaught remote exception!  (Exceptions are not yet supported across processes.)
E/JavaBinder(15083): java.io.IOException
E/JavaBinder(15083): 	at android.nfc.tech.BasicTagTechnology.connect(BasicTagTechnology.java:85)
E/JavaBinder(15083): 	at android.nfc.tech.Ndef.connect(Ndef.java:71)
E/JavaBinder(15083): 	at it.matteocrippa.flutternfcreader.FlutterNfcReaderPlugin.onTagD

[2019-03-08 10:30] aHalyk commented on #29
I changed the on tag discovered function inside of the kotlin files and it got rid of the unhandled exception. I assumed that was the issue for the tags failing to be read after continuous reads but apparently not.

Changed code for onTagDiscovered below "Sends failed ndef?.connect()" message instead of just letting it be unhandled.

  override fun onTagDiscovered(tag: Tag?) {
	Thread{
        //

[2019-03-08 10:38] matteocrippa commented on #29
feel free to push a PR, it take care of review and merge @aHalyk

[2019-03-09 20:18] KillianByrne opened #30 "Android: can only scan one tag"
Hi there, I'm new to flutter. I tried using the sample code from example/lib/main.dart and I am currently only able to scan one tag. My question is, is this plugin capable of scanning more than one NFC tag? If so, could you explain how?
Cheers

[2019-03-09 23:32] KillianByrne commented on #30
if it is relevant, the example StartNFC() function on the readme, doesn't work wither, the line :
response = await FlutterNfcReader.read;
throws an error: 'A value of type 'Stream<NfcData>' can't be assigned to a variable of type 'NfcData'.'

[2019-03-16 19:19] aHalyk opened #31 "Reading as default App"
When attempting to use this app as the default reading app for NFC communications it ignores that first read due to not being passed the intent(on android). I have been trying to modify the files to no success to handling the intent being missed inside of the onResume function.

If anyone has ideas of how to fix this let me know

[2019-03-19 10:44] magnus-lpa opened #32 "Plugin is not able to detect any RFID tags"
I am testing the plugin on an Android device, but I am unable to scan any RFID tags.

This is the code I'm using:

`        try {
            FlutterNfcReader.read
                .listen((data){
                    print( "--------- nfcData  content: ${data.content}" );
                })
                ..onDone((){
                    print( "--------- NFC stream done" );
                })

[2019-03-19 10:49] matteocrippa commented on #32
@magnus-lpa we are open to PR, you know it's a open source project that is managed, debug and improved in spare time and for free, if you have any suggestion or improvement feel free to open a PR.

Btw which version are you using? `master` branch?

[2019-03-19 10:50] matteocrippa commented on #31
@aHalyk which version of Android?

[2019-03-19 10:52] matteocrippa commented on #26
@marianoarga is ok? if so feel free to close

[2019-03-19 10:55] magnus-lpa commented on #32
Yes, I'm using the master branch.

I understand that it's an open source project, but as a newbie to Flutter and Dart it's very off putting to any potential user when the example code of a plugin doesn't even compile, it makes you question the quality of the plugin itself.

[2019-03-19 11:03] matteocrippa commented on #32
Sadly, as you can imagine I get nothing for this project, it's free and opensource, so my attention is focus on my job.

As soon as I will have free time, I will take care of the duty, but as usual any support is always welcome.
Otherwise it's turn to be a free help desk, more than a share and open source project, and it's far from my approach.

[2019-03-19 11:07] matteocrippa commented on #20
up @MaxiSonntag  any update? I will close feel free to reopen if needed

[2019-03-19 11:07] #20 closed

[2019-03-19 11:11] #26 closed

[2019-03-19 11:11] magnus-lpa commented on #32
I understand and I appreciate the hard work 👍

Hopefully I can get the plugin to work, but I'm a newbie at Flutter and Android/iOS so I have no idea what could be wrong...

[2019-03-19 11:27] marianoarga commented on #26
Didn't had any time to test, project got idle.
I will reopen if I got any issues in the future, many thanks!

[2019-03-21 11:56] gedw99 opened #33 "List of NFC tags for others to test too"
Can you add a list of NFC tags your using please to the README ?
And also what standard each supports.

[2019-03-21 13:47] matteocrippa commented on #33
updated in docs, if any new is supported, anyone is welcome to file a PR for updating that list

[2019-03-21 13:47] #33 closed

[2019-03-27 08:04] chwiz143 commented on #13
@matteocrippa shouldn't this be considered closed since result stream had been added? e989191b35098047d12e034c45317c393dc59a6d

[2019-03-27 08:10] chwiz143 commented on #30
@KillianByrne It seems the response type had changed while the old documentation was unchanged.
Did you get it to work? Else try with the updated code on the [readme](https://github.com/matteocrippa/flutter-nfc-reader/blob/master/README.md).

[2019-03-27 09:52] #13 closed

[2019-03-27 13:57] RubenPividori commented on #30
Hi there, I'm facing the same problem.
Using the demo app, first time I execute the StartNFC() function it reads the NFC, but if I try to execute it another time, it invokes the default nfc reader app.
It seems there's nothing to listen to nfc events, like the first execution doesn't dispose everything it has to.
I tried to execute twice the reading function, and also to execute the stop function

[2019-03-29 11:30] corjanbos commented on #32
Same problem here. Testing on a Samsung A5 2017, Android 8.0.0. Trying to get the example working. At first field values (id, content, error, status) are displaying NULL, and after scanning a public transport card, values are updated with an empty string value. So something happens, but no valid data.

[2019-03-30 21:24] leephillips1 commented on #30
As a workaround for now, you can store the StreamSubscription in a variable and call cancel() on it when you stop. This will allow StartNFC() to function properly when called again.

[2019-03-30 21:27] theLee3 commented on #30
As a workaround for now, you can store the StreamSubscription in a variable and call cancel() on it when you stop. This will allow StartNFC() to function properly when called again.

[2019-04-02 18:01] rickdroio commented on #19
Any update?

[2019-04-02 18:47] matteocrippa commented on #19
@rickdroio no, but open if you want to make a PR to add that

[2019-04-16 07:18] campio97 opened #36 "The method 'listen' isn't defined for the class 'Future'"
Hello, im having this issue with your example project.

`Compiler message:
lib/main.dart:31:27: Error: The method 'listen' isn't defined for the class 'Future<NfcData>'.`
 `- 'Future' is from 'dart:async'.`
 `- 'NfcData' is from 'package:flutter_nfc_reader/flutter_nfc_reader.dart' ('file:///C:/flutter/.pub-cache/hosted/pub.dartlang.org/flutter_nfc_reader-0.0.23/lib/flutter_nfc_reader.dart').
Try c

[2019-04-16 08:31] campio97 commented on #36
The problem was that i didn't import correctly the plugin in the `pubspec.yaml`

[2019-04-16 08:31] #36 closed

[2019-04-26 19:13] mzelles opened #37 "MissingPluginException running Example on IOS"
Hey,

I've tried to run the example on my phone (iPhone X IOS 12.2).
The version of flutter is 1.2.1 and dart 2.1.2.

The app starts, I can also click on the button to scan a tag. If my phone recognizes the nfc-tag, flutter throws the following error exception below.

Hopefully someone can help me with this issue...

[2019-07-26 14:42] matteocrippa opened #38 "Project is discontinued, looking for new mantainer"
If any want to continue can add to contributor or transfer of the project so can continue to manage that in the future

[2019-07-29 08:25] huzhiren commented on #38
@matteocrippa You could let me join.

[2019-07-29 08:33] f1re commented on #38
since i am using it productive soon, i forked it and fixed already some bugs and made some improvements on my fork

[2019-07-29 08:35] matteocrippa commented on #38
@f1re if you want feel free to make a pr for that so also other can benefit of that

[2019-08-21 08:16] laudaget opened #43 "Cannot get data only (only payload including the path)"
Is there a way to get the data without the path provided in payload? Couldn't figure out a way to cut away the path.

The content on my nfc chips are like 100001, 100002, 100003.. I would like to get '1000001' as my response, but the payload gives me 'en100001' instead.

Thank you in advance

[2019-08-26 16:01] xiaods commented on #32
same here.

[2019-08-27 01:14] xiaods commented on #38
@f1re are you sure the plugin is working? i use it and can't scan any nfc tag .

[2019-08-27 01:14] xiaods commented on #38
@matteocrippa i currently working on nfc project, i can support this project.

[2019-08-29 04:11] wwervin72 opened #44 "example running FlutterNfcReader.read error"
example can run normally, bu when i click Read button, it throw a error. this is error track.

[code]
what should i do, thanks.

[2019-09-06 16:44] daviidmart opened #45 "Update pub.dev"
Hey please update the package in pub.dev because the code has differences between the pub.dev and this repo and the pub.dev package doesnt work 👏

[2019-09-13 03:07] rfitz123 opened #46 "Build Failing gradlew.bat exited abnormally"
I was having trouble getting it to work, so I decided to just clone the whole thing and try that. Unfortunately, even doing that, it failed to build. Here is the output:
[code]
Any ideas? I really don't know how to debug because I just cloned it like it is.

[2019-09-18 13:23] davystrong opened #47 "Can't read NFC content field (Android)"
When reading a tag on Android (Galaxy S8), I can read the device id but the content field is empty. When I read using other apps, I get the content I expect. Any suggestions as to what I might be doing wrong? I simply use `FlutterNfcReader.read()` and wait for the Future to return.

[2019-09-23 12:59] TimSchue opened #48 "IOS 13 write mode"
Hi,
IOS 13 is now able to write on NFC. Are you planning to implement that in the near future?
p.s. great work guys

[2019-09-26 07:18] JERINJACOBCHERIAN commented on #44
Could you tell me how you solved this issue?

[2019-09-26 07:21] JERINJACOBCHERIAN opened #49 "how do write information"
I was trying to use your plugin to send and receive JSON data using NFC in two phones.

In your example, I was able to see how to read NFC data from another device, but how can we send data using NFC from one device?

And when I tried to use

      print(userLoad.firstName);
      FlutterNfcReader.write("path_prefix","tag content").then((response) {
        print(response.content);
      });

It t

[2019-09-29 14:36] matteocrippa commented on #45
@daviidmart will do as soon as we have a stable now we are facing some issue, so better to rely on master as described in the readme

[code]

[2019-09-29 14:36] #45 closed

[2019-09-29 16:00] matteocrippa commented on #49
@JERINJACOBCHERIAN what lib version are you using?
What's the device brand / android version?

If you want give a try to `refactor` branch

[2019-09-29 16:01] matteocrippa commented on #47
What is the format the Tag is written?
Did you try debugging the lib and see if the kotlin code get the value?

[2019-09-29 16:04] matteocrippa commented on #37
@mzelles which version are you using? `master` ?

[2019-09-29 16:05] matteocrippa commented on #30
Still relevant? If not close

[2019-09-29 16:05] #19 closed

[2019-09-29 16:05] #24 closed

[2019-09-29 16:43] matteocrippa commented on #46
@rfitz123 edit your _local.properties_ file adding:

[code]

[2019-09-29 16:43] #46 closed

[2019-09-29 16:47] matteocrippa commented on #48
Seems relevant example can be found here: https://developer.apple.com/documentation/corenfc/creating_nfc_tags_from_your_iphone

[2019-09-30 06:48] JERINJACOBCHERIAN commented on #49
I am using the master branch.

Since I am using flutter, I should be able to write to all android and the new ios13 versions, right?

[2019-09-30 07:08] matteocrippa commented on #49
On iOS writing is a new feature starting from iOS 13 that was released a few weeks a go, no implementation has been added yet, there's an issue for that ( #48 )

In general using flutter doesn't make rid of all the segregation issue provided by Android during the time of the OS development, and also not all the devices are capable to do both reading and writing of NFC.

As for testing your issue,

[2019-09-30 10:51] RaMb3asT opened #51 "Error on running example"
When trying to run the example project, I get an exception that regards the plugin implementation in Kotlin:
[code]

[2019-09-30 11:46] matteocrippa commented on #51
@RaMb3asT did you make a `git pull` to use latest merge in master? It should be fixed since yesterday afternoon

[2019-09-30 11:56] RaMb3asT commented on #51
Yes, I am using the latest merge.

[2019-09-30 11:59] matteocrippa commented on #51
Give a try against `refactor`

[2019-09-30 12:06] RaMb3asT commented on #51
Alright, the app now runs, however when I try to read an RFID tag (NfcV tech) I get an exception:
[code]

[2019-09-30 13:25] JERINJACOBCHERIAN commented on #49
Kindly forgive if my doubts seem to simple,I am new to flutter.

Now the first issue was solved,

but now when I use
                        FlutterNfcReader.write("path_prefix","tag content").then((response) {
                            print(response.content);

It says write is not defined

[2019-09-30 13:30] JERINJACOBCHERIAN commented on #49
Hi,

I am sorry if my doubts seem too simple,I am new to flutter.

Now I can access the read function,but the write still says that its not defined, could you tell me how to use it properly?

                          FlutterNfcReader.write("path_prefix","tag content").then((response) {
                            print(response.content);

this is the proper way yes?

[2019-10-02 11:18] mahendravikhar commented on #51
I tried by running

`git pull origin master`

but it says Already up to date than I tried with the refactor branch and I got the message updated. but when I am running the application I am now getting message

`Package doesn't exist (the pubspec for flutter_nfc_reader 0.0.23 from git has version 0.1.0).`

[2019-10-06 05:28] kousherAlam commented on #51
# Same Problem Here

Launching lib/main.dart on MI 5 in debug mode...
Initializing gradle...
Resolving dependencies...
Running Gradle task 'assembleDebug'...
e: /Applications/flutter/.pub-cache/git/flutter-nfc-reader-016f82008532b7d1a325d4e7a8172eca9531d35f/android/src/main/kotlin/it/matteocrippa/flutternfcreader/FlutterNfcReaderPlugin.kt: (61, 22): Type mismatch: inferred type is Any! but NfcMana

[2019-10-06 09:42] matteocrippa commented on #51
@kousherAlam read above the suggestion please, try the `refactor` branch and verify if it works.
In general don't use the issue as a contact center, review first other reply and check if there's already a solution.

[2019-10-06 09:55] matteocrippa commented on #49
It raise any error?

[2019-10-06 15:07] kousherAlam commented on #51
hi, @matteocrippa i tryed `refactor` branch but got the following message.

The current Dart SDK version is 2.5.0.

Because `drinkwell` depends on flutter_nfc_reader from git which requires SDK version >=1.19.0 <2.0.0, version solving failed.

[2019-10-06 15:10] matteocrippa commented on #51
git pull and it should work

[2019-10-07 05:05] kousherAlam commented on #51
hi, @matteocrippa it works. but priviously i use FlutterNfcReader.read.listen for continus stream,  but in current read() method it does not work like this. it just fired one time. how can i fix this problem?

[2019-10-07 14:07] davystrong commented on #47
Sorry for the delay. I didn't have access to the device for a while. I scanned the tag with another app that works and it says:
[code]
Is that the information you wanted?
About debugging the Kotlin code, no I didn't try that as I have no experience with plugins. Do I need any additional setup? (I have Kotlin installed)

[2019-10-07 16:53] CosimoSguanci commented on #30
Which StreamSubscription are you talking about?

[2019-10-08 13:49] henrysachs commented on #38
I implemented something to scan multiple tags maybe you wanna chat about it and merge it back into the lib?

[2019-10-08 13:51] matteocrippa commented on #38
hey @henrysachs, yep feel free to make a PR, so we can review with other maintainer

[2019-10-08 13:52] henrysachs commented on #38
who is the new maintainer?

[2019-10-08 14:01] matteocrippa commented on #38
still me for now, but few time to look at

[2019-10-08 14:05] henrysachs commented on #38
yeah I dont have that much time either but think on using that package for a little project myself. Maybe we can do something on par because few time and few time is a little more time. :D

I think you can assume a PR from me tomorrow is that okay for you? :)

[2019-10-09 12:23] Tobisaninfo opened #52 "Compiler Errors using plugin in project"
Hi,

I'm using your plugin in a flutter app (SKD: >=2.0.0-dev.68.0 <3.0.0) and added the plugin to the dependencies as you wrote in the readme. Then compiling the app for android, I got 3 kotlin errors.

[code]

How can I fix that issue? I'm using the latest version of the flutter toolchain (1.9.1+Hotfix 4)

Thanks for help.

[2019-10-09 12:26] matteocrippa commented on #52
`refactor` is much more updated, but now I merged it to master, so give a git pull and try again

[2019-10-09 12:45] Tobisaninfo commented on #52
Thank you for your quick help. Now the plugin gets compiled without any issue.

[2019-10-09 12:45] #52 closed

[2019-10-09 18:04] henrysachs opened #55 "update pub.dev information"
The Information that are displayed on the website https://pub.dev/packages/flutter_nfc_reader are old and need to be updated.

[2019-10-09 18:04] henrysachs commented on #55
with some info on how to do this i would be happy to take this task.

[2019-10-09 18:20] #51 closed

[2019-10-09 18:24] matteocrippa commented on #55
Yep, need to push, but the refactor was still in progress, think for now we can do that once we merge your very good PR

[2019-10-09 20:11] huzhiren commented on #38
I used this package before, but it looks like not stable (only scan once and then stop working, tested on Samsung),   and is not working on ios,  then I switch to [nfc_io](https://pub.dev/packages/nfc_io), much stable so far.

[2019-10-09 20:13] henrysachs commented on #38
Hey I can understand your situation but this will change soon. Maybe you keep an open eye on the plugin. :)

[2019-10-09 20:21] huzhiren commented on #38
Yes, I understand that.  But the client don't care about that at all.

[2019-10-09 20:36] matteocrippa commented on #38
@ryanhz tbh the only one scan was the expected behaviour, btw now with help of @henrysachs we are going to add unlimited scan support.

Hope see you coming back when customer will pay you for iOS version, feature that we have at least.

[2019-10-09 20:42] ryanhz commented on #38
no, when i said only one scan, i meant it really scan once only for the lifetime of the app, the last time as I test, you need to disable nfc and re-enable nfc on the phone and restart the app to have it able to scan again.

[2019-10-09 20:43] matteocrippa commented on #38
You know at the end, open source project are always open and welcome to improvements by anyone :)

[2019-10-12 14:36] henrysachs commented on #25
This can be done in IOS 13 now and should be tackled next :)

[2019-10-12 14:38] henrysachs opened #56 "Pass NFC Types to Flutter"
NFC Tags can use different functions maybe it can be useful to pass those types to from the platform to flutter

[2019-10-12 14:39] henrysachs opened #57 "Update Contributing Guidelines"
The Doku how to setup the Project could be a bit more descriptive so that new developers can help out fast.

[2019-10-13 11:07] henrysachs commented on #55
So how do we push an update to the registry? Can I do this? I also would like to update the readme to use the pub registry instead of the git repo with a sidenote on how to get the latest features.

[2019-10-13 11:36] matteocrippa commented on #55
I should be able to do that right now, it should show the new version 0.1.x

[2019-10-13 11:38] henrysachs commented on #55
yeah! we now have a 89 scoring! https://pub.dev/packages/flutter_nfc_reader#-analysis-tab-

[2019-10-13 11:39] matteocrippa commented on #55
Yep need to figure out how to improve dart doc, and for sure ppl start using back the one from dartpub will make it more visible

[2019-10-13 11:43] matteocrippa commented on #55
I created a `development` branch, update there md file, then think I can look at dartdoc and release
Update also readme.md according, so stable will stay in master, development will keep experimental

[2019-10-13 11:58] henrysachs commented on #55
So everythings updated i think we can close this now. :)

[2019-10-13 11:58] #55 closed

[2019-10-13 12:45] henrysachs commented on #37
should be fixed with version 0.1.0

[2019-10-13 12:45] #37 closed

[2019-10-13 12:45] henrysachs commented on #30
is fixed with version 0.1.0 upgrade accordingly

[2019-10-13 12:45] #30 closed

[2019-10-13 13:45] henrysachs commented on #29
this should be fixed now. See version 0.1.0

[2019-10-13 13:45] #29 closed

[2019-10-13 13:49] henrysachs commented on #43
yeah the first 3 bytes need to be cut away on android to do this.

[2019-10-18 13:00] rosenberg-c opened #58 "Cannot read nfc tag on iOS"
NFC content is empty on iOS.
When i tested this plugin about 1-2 months ago, i could read nfc-tags on both android and ios.
Since then i have updated flutter and this plugin. At one point i checked out branch refactor as suggested in another issue, which solved some android issues.

Now i am on master, but unfortunately this breaks iOS reading capability.
It seems that -readerSessionDidBecomeActiv

[2019-10-18 15:42] rosenberg-c commented on #58
Upon further inspection, it seems the issue stems from tags created with flutter-nfc-reader with old and latest version.

XCode still prints the error message about -readerSessionDidBecomeActive, but it does not seem to hinder the functionality.

Using other apps on android device creates readable tags for both iOS and Android.

However another issue is present with reading tags on android.
The re

[2019-10-21 13:41] davystrong commented on #47
So I managed to get the Kotlin debugger working. It seems that it's reading a lot of null values. In the readTag function, the tag variable has a value but ndef = Ndef.get(tag) returns null. Here's the value of tag, if it helps:
[code]

[2019-10-21 14:09] davystrong commented on #47
It seems the problem is that the tag is reading as NdefFormatable (I didn't realise there was a difference), however, it already has a message that I would like to read. Any ideas?

[2019-10-21 15:32] davystrong commented on #47
Ok, it seems it was my misunderstanding of NFC technology that caused this problem. I assumed that Ndef V was the same as NFC V, however I must have been mistaken. If I edit the Kotlin code to read NFC V, it works correctly. I'll close the issue.

[2019-10-21 15:32] #47 closed

[2019-10-21 18:45] svsobh opened #59 "Tap To Connect functionality"
I am sorry if this is a completely irrelevant question here, please refer me to the right place if this is not the correct place to ask this question.

I am trying to build a flutter app in which I could tap on someone else's phone, to become friends.

Detailed: Both phones have same screen opened on the app, and as soon as they tap their phones both users see their ui change. I have already tried

[2019-10-22 20:55] AntSwift opened #60 "activity is null in FlutterNfcReaderPlugin"
I think I understand what is going on here but please forgive any inaccuracy.

The init method of FlutterNfcReaderPlugin is accessing the activity variable without any guard against null.

In my app I am using [the workmanager plugin](https://pub.dev/packages/workmanager) which is attempting to initialise flutter in a worker thread and therefore there is no activity.

It should be a simple change

[2019-10-22 20:59] henrysachs commented on #60
can you provide a reproduceable example? If the activity check is the only problem i dont see issues arising from this. If you feel confident provide a pr which fixes this. :)

[2019-10-22 21:33] AntSwift commented on #60
PR submitted 👍 https://github.com/matteocrippa/flutter-nfc-reader/pull/61

[2019-10-26 09:39] matteocrippa commented on #60
@AntSwift thx for the PR, wonder if not better to strip off the logs or we will have unexpected verbose messages in the apps

[2019-10-26 11:17] AntSwift commented on #60
It wasn't my intention to include the logging changes in the PR. I will correct.

[2019-11-04 07:38] Strepon-E commented on #56
Hi Henry, what types of NFC Tags can be used? We want to use Flutter to scan ID documents with Android en IOS but the NFC Tags types in this documents are NXP Mifare plus. After developing our app we don't get any content but the app is working.

[2019-11-06 16:57] henrysachs commented on #56
currently only ndef tags are supported but i recommend to just run the example app and try your cards. I'm not an expert in NFC cards, so I dont know how i could emulate such a card to test it locally.

[2019-11-19 09:50] #60 closed

[2019-11-23 21:32] Yowims opened #64 "Handling PlatformException when calling read() method"
Hello,

When I try to call the read() method, it throws me a PlatformException :

![image](https://user-images.githubusercontent.com/28302626/69485521-f3d8f800-0e40-11ea-81bf-bf60527e4df6.png)

As you see, I tried to handle the exception with the catchError callback, but the exception still throws.

How can I handle it?

[2019-11-23 23:24] Yowims commented on #64
Error solved when I activated NFC on my smartphone. You should add something to your example to ask permission or open NFC parameters to do it.

[2019-11-23 23:24] #64 closed

[2019-12-28 01:21] photoplyr opened #66 "content has extra chars"
Reading a NDEF tag the value written:content:

returned from tag: "�\rTen133:744632"

[2020-01-03 12:39] henrysachs commented on #66
I think this is already adressed in #43 isn't it? If it is i would to kindly ask you to close this issue.

[2020-01-26 10:16] MoammadHamid commented on #49
hello all,
with me it doesn't raise any errors, but it simply doesn't write anything and does no reaction.
[code]
i tried it also with replacing path_prefix with "" and other time with " ", but still the same.

[2020-02-28 07:52] mx4g opened #71 "How to write in nfc"
Android ：After I write it, I still haven't read it
![360截图20200228154924260](https://user-images.githubusercontent.com/7499986/75521228-40386300-5a42-11ea-9fe3-0cfd709dfd7c.jpg)

[2020-02-29 01:50] mx4g commented on #71
Please, it's very important for me @matteocrippa

[2020-03-02 07:29] #71 closed

[2020-03-03 12:40] speedlightwp opened #72 "Content is empty"
Hi,

I have few cards, I can see only the ID however the content is always empty. How do I read the sector of the card, I presume this where I can retrieve the CAN number, expiry date and other information. Please advise.

Thanks!

[2020-03-21 23:33] phillipo6 opened #73 "Gradle Version"
Hi, i can't compile my app in release because this library does use grade version 4.10.1.

`A problem occurred evaluating root project 'flutter_nfc_reader'.
 Failed to apply plugin [id 'com.android.library']                                                                        > Minimum supported Gradle version is 5.4.1. Current version is 4.10.1. If using the gradle wrapper, try editing the dist

[2020-03-24 10:14] #73 closed

[2020-03-24 10:16] henrysachs commented on #73
Hi Phillpo i just saw that you closed the issue does this mean it works? because i would be glad to update the gradle version. We as maintainers just haven't had the time to do this.

[2020-03-24 10:26] phillipo6 commented on #73
@henrysachs had multiple problems with some libraries because of androidx, one wasn't compatible so the gradle build process used jetifier to rebuild all dependent libraries, and so it did this for this library.
I was using gradle 5.4.1 which is why it couldn't rebuild this library.
(But i tried to update the gradle version in a fork and it did work for me,  but was stuck at other libraries which

[2020-04-01 23:52] ryanhz opened #74 "Return struct NDEF message instead of just string content"
It will be more useful NDEF message with NDEF records in data struct.

[2020-04-02 03:34] mx4g opened #75 "When is the new edition ？Android x is supported"
When is the new edition ？Android x is supported

[2020-04-07 02:20] mx4g commented on #48
Do me a favor thank you，How to Set 'Enable Capabilities / Near Field Communication Tag Reading'   ，flutter run failed

[2020-04-07 07:04] henrysachs commented on #48
![Bildschirmfoto 2020-04-07 um 09 01 40](https://user-images.githubusercontent.com/17173951/78639688-aa002400-78ae-11ea-80e1-84fbd9dee645.png)
You need to open the project in xcode and select the highlighted + button.

[2020-04-07 07:05] mx4g commented on #48
Thanks

[2020-04-15 18:30] crsmillan commented on #72
I have the same situation

[2020-04-20 07:25] mavbcn opened #76 "Use NFC to send data from one phone to another phone"
Hi,
It's possible to send data with NFC from one phone to another one?
I need to read some info, do a process, and then return a confirmation
please let me know
thanks
best

[2020-05-14 07:25] alvagan opened #78 "Cannot read the correct NFC on android, it's lost the type"
I have rewrote the code.
[FlutterNfcReaderPlugin.kt.zip](https://github.com/matteocrippa/flutter-nfc-reader/files/4626621/FlutterNfcReaderPlugin.kt.zip)

[2020-05-14 07:31] matteocrippa commented on #78
@alvagan feel free to make a PR

[2020-05-16 11:36] Pinteezy commented on #76
Yes I also would like to know the answer to this. Looking to use NFC however need to be able to communicate between ios and android is that even possible?

[2020-05-26 08:33] ryanhz opened #79 "Error in building example project for ios"
➜  Projects flutter doctor
Doctor summary (to see all details, run flutter doctor -v):
[✓] Flutter (Channel master, 1.19.0-2.0.pre.143, on Mac OS X 10.15.4 19E287, locale en-NZ)

[✓] Android toolchain - develop for Android devices (Android SDK version 29.0.2)
[✓] Xcode - develop for iOS and macOS (Xcode 11.5)
[✓] Chrome - develop for the web
[✓] Android Studio (version 3.5)
[✓] VS Code (version 1.

[2020-06-16 13:29] 201Factory commented on #75
+1

[2020-06-16 13:55] matteocrippa commented on #75
+1 comments doubt will push to have it, it's an open source project anyone help is welcome, PR are welcome.
Sadly comments like this, expecting something good, fast and free discourage me to contribute nor maintain

[2020-06-16 13:55] #75 closed

[2020-06-16 13:56] matteocrippa commented on #79
try to change to older build config in xcode

[2020-06-18 22:13] ryanhz commented on #79
How to  change to older build config in xcode?

[2020-06-18 22:16] matteocrippa commented on #79
https://stackoverflow.com/questions/53050108/xcode-10-how-to-switch-to-legacy-build-system

[2020-08-06 07:19] ryanhz commented on #79
I switched to legacy build system and still can't build

[2020-09-03 08:31] spravesh1818 commented on #72
I suppose you are checking with the bank credit cards. I came across the same situation. It seems as though the NFC libraries on flutter can only handle the ndef message formats. But the bank cards use other formats.This makes the card to be shown as empty. You can use native android applications like NFCTools to read the data in it. Though you can't see all the data you can see the technologies u

[2020-09-11 09:38] F-James opened #80 "The tag cannot be discovered"
Hi
Thank you for sharing the tools，it's very easy to use.
But,the first time i scan the nfc,it find nothing and my phone is sure found something, it's vibrating.
I scan again,it's ok,vibrate and find tag.Only the first time can find this question.
Here is my code.
`@override
  void initState() {
    super.initState();
    FlutterNfcReader.onTagDiscovered().listen((onData) {
      print(onData.id);

[2020-09-15 23:35] photoplyr opened #81 "Write on Android Read IOS"
I am using my android to write text to the chip. If I use a NFC reader app, the data is showing. But when I use the reader function on the IOS the content is blank.

[2020-10-03 14:01] AliRn76 commented on #76
any answer?

[2020-10-03 16:01] #76 closed

[2020-10-10 23:12] sayhicoelho commented on #43
same issue here!

any solution?

[2020-11-18 14:46] cyberpwnn opened #83 "Crash android v2 embedding"
[   +1 ms] E/AndroidRuntime(24161): java.lang.RuntimeException: Unable to start activity ComponentInfo{care.myguide.app/care.myguide.app.MainActivity}: java.lang.NullPointerException: Attempt to invoke virtual method 'java.lang.Object
android.app.Activity.getSystemService(java.lang.String)' on a null object reference
[   +1 ms] E/AndroidRuntime(24161):     at android.app.ActivityThread.performLaun

[2020-12-10 15:26] mazensabouni commented on #25
Hello, Does anyone reached to something in this issue? It is available on NXP tag reader or TagInfo
![Uploading EDD1F2E8-7E1F-4D51-B3D1-A979503CB9F3.png…]()

[2020-12-17 17:11] arennertz opened #87 "NFCAdapter Flags"
Hello there. First of all: Thank you for developing this plugin, we use this in a productive app to read NFC-Tags and it works quite good so far!

One thing is bothering me a little bit: We need NfcAdapter.FLAG_READER_NO_PLATFORM_SOUNDS to be activated, because our app plays sound as a reaction to reading a tag.

I don't speak Kotlin unfortunately, otherwise I would just propose some way to make t

[2021-01-10 19:53] tedescolor opened #88 "You should edit pubspec.yaml to contain an SDK constraint:"
I just cloned the repo and try to run:
flutter pub get
but I got this error that I cannot explain. everything seems installed correctly.

Running "flutter pub get" in flutter-nfc-reader...                 256ms
pubspec.yaml has no lower-bound SDK constraint.
You should edit pubspec.yaml to contain an SDK constraint:

environment:
  sdk: '>=2.10.0 <3.0.0'

See https://dart.dev/go/sdk-constraint
Run

[2021-01-16 15:29] limera2n opened #89 "Unknown characters when read NFC tag"
Hi all,

I would like to read NFC tag using this package and all I am getting is a string of several characters "� U"

Tag type: ISO 14443-3A
Supported technologies: NfcA, MifareUltralight, Ndef
Data format: NFC Forum Type 2

Written content: "myapp://app.com?item_id=123"

Tag is properly recognized by the Android system.

Sample code that I am using to read data:

`FlutterNfcReader.onTagDiscover

[2021-01-23 20:00] jiangshufeng opened #90 "Android 每进入程序，第一次读取都失败"
Android 没进入程序，第一次读取都失败

[2021-02-08 23:46] edimmeduseljac commented on #49
Hello guys,
I'm pretty new to working with NFC Tags and I just wanted to a question...

The parameter "path_prefix" - what is that, like i know what the tag_content parameter is, but I can't figure out what I have to use as the "path_prefix".

[code]
This was in the example which was provided by @matteocrippa.

Please help...

[2021-02-11 23:21] edimmeduseljac opened #91 "Writing information on NFC Tag"
Hello guys,
I'm pretty new to working with NFC Tags and I just wanted to a question...

The parameter "path_prefix" - what is that, like i know what the tag_content parameter is, but I can't figure out what I have to use as the "path_prefix".

FlutterNfcReader.write(" ", path).then((response) {
                                  print(response.content);
                                });
This was

[2021-03-23 12:00] ferdiebirdie commented on #16
Is this branch still available? I can only see master and dev.

[2021-05-27 15:29] mayaparamita opened #92 "How do I read Credit Card detail with this plugin?"
Hi, do you know how can I read nfc detail with this plugin?
E.g. With phone nfc, i wanna get credit card details of the credit card that's tapped, like cc number, expiry date, name, etc.

[2021-05-31 12:29] urvashihirpara opened #93 "Not working with null safety."

[2021-06-13 13:38] Jpec57 commented on #89
Same here, looks like the scheme seems to be the problem. It only happens on Android, iOS works perfectly.
[code]

Maybe a problem with the broadcast truncating the dataContent ?

[2021-06-14 10:44] tedescolor opened #94 "Is it possible to get the content of the NFC which open the app?"
I set the NDEF_DISCOVERED in the manifest, and the app properly open when nfc is discovered. However I do not know how to get the content without re-using the plugin to tap again the nfc. Any help? really thanks

[2021-07-16 15:02] lmeliberty commented on #93
Hello,

I've the same problem with sdk 2.12.0.

Can you fix this error ?

Best regards.

[2021-07-16 15:04] matteocrippa commented on #93
Any PR is always welcome to improve this open source library

[2021-11-02 12:46] subhendukundu opened #96 "Read NFC when the phone is locked?"
At the moment, this working when your phone is unlocked and app is in foreground.
Is there a way we can read NFC when the phone is locked?
I am using the example from the repo for now.

[2021-11-07 07:11] TerehinAV commented on #83
I have a similar issue.

[code]

[2021-11-08 08:56] michelaSpreghini commented on #83
Same problem

[2021-11-08 09:10] matteocrippa commented on #83
Feel free to submit a PR if you have any opportunity, actually I have not that much time to take care of this project not using flutter anymore

[2021-11-10 18:12] TerehinAV commented on #83
I'v figured out that you've already migrated to v2 embedding at master branch, can you please publish this version to pub.dev?

[2021-11-10 18:38] TerehinAV commented on #83
I'v figured out that you've already migrated to v2 embedding at master branch, can you please publish this version to pub.dev?